@use '@carbon/react';

.content-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.content-switcher-container {
  margin-right: 5%;
  width: 30%;
}

.dropdown-container {
  flex-grow: 1;
  margin-right: 5%;
  width: 30%;
}

.lookup-container {
  flex-grow: 1;
  width: 30%;
}

.table-container {
  margin-bottom: 20px;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
}

.table-title {
  margin-bottom: 10px;
}
